.rtl .menu-area.separator_yes:after {
  left: 0;
  right: unset;
}
.rtl .menu-area.separator_yes li:last-child a {
  padding-left: 30px;
  padding-right: unset;
}
.rtl .offcanvas-icon.layout-2 .nav-menu-link {
  padding: 12px 19px 16px 35px;
}
.rtl .bs-search button {
  right: unset;
  left: 0;
}
.rtl .react-addon-services.services-style2 .services-part .services-text {
  text-align: right;
}
.rtl .react-addon-services.services-style2 .services-part .services-icon {
  margin-left: 37px;
  margin-right: 0px;
}
.rtl .react-addon-services.services-style2 .services-part .services-btn {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.rtl .react-addon-services.services-style2 .services-part .services-btn.icon-before i {
  margin-right: 0;
  margin-left: 10px;
}
.rtl .rt-portfolio-style6 .swiper-button-prev {
  left: 65px !important;
  right: auto !important;
}
.rtl .rt--slider.slider-style5 .rt-slider-navigation {
  right: 63%;
}
.rtl .rt--slider .rt-slider-navigation .rt-slider-prev {
  padding-left: 0;
}
.rtl .rt--slider .rt-slider-navigation .rt-slider-next {
  padding-right: 20px;
}
.rtl .rt-blog-slider .rts-read-more i {
  margin-right: 0;
  margin-left: 12px;
}
.rtl .rt-blog-slider .blog-meta .cat_list {
  padding-right: 0;
  padding-left: 3px;
}
.rtl .progress-wrap {
  right: unset;
  left: 30px;
}
.rtl .rt--slider.slider-style2 .single--item .description,
.rtl .rt--slider.slider-style1 .single--item .description {
  margin-left: 0;
  margin-right: 30px;
}
.rtl.blog .reactheme-blog .blog-item .full-blog-content .user-info .single-info, .rtl.archive .reactheme-blog .blog-item .full-blog-content .user-info .single-info, .rtl.single-post .reactheme-blog-details .type-post .single-content-full .user-info .single-info {
  margin-right: 0;
  margin-left: 30px;
}
.rtl.single-post .react-order-list li:before {
  right: 0;
  left: auto;
}
.rtl.single-post .react-order-list li {
  padding-left: 0;
  padding-right: 22px;
}
.rtl.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
  text-indent: 9999px;
}
.rtl.woocommerce-checkout .woocommerce form.checkout #customer_details {
  padding-right: 0;
  padding-left: 80px;
}
.rtl .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-after span {
  float: right;
}
.rtl .rt-angles-right-1:before,
.rtl .fa-angle-double-right:before,
.rtl .react-video .popup-videos i,
.rtl .fa-arrow-right:before {
  transform: rotate(180deg);
}
.rtl .elementor-widget-rt-price-table .elementor-widget-container .rt-pricing-table-body .rt-pricing-table-features-list li i {
  margin-right: 0;
  margin-left: 10px;
}
.rtl .team-grid-style3 .team-item .team-content .social-icons a, .rtl .team-slider-style3 .team-item .team-content .social-icons a {
  margin-right: 0;
  margin-left: 12px;
}
.rtl .primary-menu ul li:last-child,
.rtl .primary-menu ul li:last-child a {
  padding-right: 8px;
}
.rtl .menu-area .navbar ul > li:last-child a {
  margin-right: 16px;
}
.rtl .menu-area .navbar ul li a {
  padding-right: 0;
  padding-left: 16px;
}
.rtl .menu-area .icon2 .navbar ul > li.menu-item-has-children > a:before {
  left: 0;
  right: unset;
}
.rtl .menu-area .navbar ul li .sub-menu {
  right: 0;
  left: auto;
}
.rtl .menu-area .navbar-menu .mega.two-col .sub-menu li {
  border-right: 0;
  border-left: 1px solid rgba(196, 196, 196, 0.1490196078);
  text-align: right;
}
.rtl .menu-area .navbar-menu .mega.two-col .sub-menu li:last-child {
  border: 0;
}
.rtl .menu-area .navbar-menu .sub-menu li {
  text-align: right;
}
.rtl .menu-area li.mega ul.sub-menu li:last-child a {
  margin-right: 0;
}
.rtl .menu-area .navbar-menu .mega .sub-menu li {
  border-right: 0;
  border-left: 1px solid rgba(196, 196, 196, 0.1490196078);
}
.rtl .menu-area .navbar-menu .mega .sub-menu li:last-child {
  border-left: 0;
}
.rtl .elementor-widget-rt-price-table .elementor-widget-container .rt-pricing-table-price .rt-pricing-table-price-tag .rt-pricing-table-price-text {
  margin-left: 0;
}
.rtl .rt--slider.slider-style1 .single--item .description {
  margin-left: 0;
  margin-right: 30px;
}
.rtl .reactheme-blog-grid.blog--style5 .admin-area .details {
  margin-left: 0;
  margin-right: 10px;
}
.rtl .rt-portfolio-style-grid.rt-portfolio-style6 .portfolio-item .portfolio-content {
  text-align: right;
}
.rtl .menu-area .navbar-menu .mega .sub-menu li {
  margin-right: 0;
  margin-left: 20px;
}
.rtl .menu-area .navbar ul li ul.sub-menu:after {
  left: auto;
  right: 16%;
}
.rtl .slider-style5 .slider-content-area .bottom--area .single--item-img {
  margin-right: 0;
  margin-left: 20px;
}
.rtl input[type=text],
.rtl input[type=number],
.rtl input[type=password],
.rtl textarea,
.rtl input[type=email],
.rtl .wpcf7 label {
  text-align: right;
}
.rtl .react-heading.style2:after, .rtl .rs-dual-heading.style2:after {
  left: auto;
  right: 0;
}
.rtl .left_icon_yes ul li a:before {
  transform: rotate(180deg);
}
.rtl .menu-area.vertical .yes .navbar ul li,
.rtl .rts-tab-style-one .button-area button {
  text-align: right;
}
.rtl .left_icon_yes ul li a:before,
.rtl .rts-tab-style-one .tab-content .rts-tab-content-one ul li:before,
.rtl .elementor-widget-rt-price-table .elementor-widget-container .rt-pricingt-style2 .rt-pricing-table-price {
  right: 0;
  left: auto;
}
.rtl .menu-area .left_icon_yes .navbar ul li a {
  padding-right: 25px !important;
}
.rtl .menu-area.vertical .yes .navbar ul li {
  width: 49%;
}
.rtl .menu-area.vertical .navbar ul > li:last-child a {
  margin-right: 0;
}
.rtl .blog--style2 .image-part {
  margin-left: 15px;
  margin-right: 0;
}
.rtl .btn-part i, .rtl .fa.fa-arrow-right {
  transform: rotate(180deg) !important;
}
.rtl .rts-tab-style-one .tab-content {
  margin-left: 0;
  margin-right: 25px;
}
.rtl .rts-tab-style-one .tab-content .rts-tab-content-one ul li {
  padding-right: 28px;
  padding-left: 0;
}
.rtl .menu-area.vertical .navbar ul li {
  text-align: right;
}
.rtl .rt-features-list-content ul li .query-list {
  padding-left: 0;
  padding-right: 15px;
}
.rtl .service-one-inner-four a.rts-btn {
  left: -20px;
}
.rtl .service-one-inner-four .big-thumbnail-area .content {
  text-align: right;
}
.rtl .navigation-center-bottom .swiper-button-next {
  right: 44% !important;
}
.rtl .navigation-center-bottom .swiper-button-prev {
  right: 54% !important;
}
.rtl .rts-accordion.style2 .accordion-item .accordion-header button span {
  margin-right: 0;
  margin-left: 4px;
}
.rtl .rts-accordion.style2 .accordion-item .accordion-header button:after,
.rtl .rts-accordion.style3 .accordion-item .accordion-header button[aria-expanded=true]:after {
  left: 5px;
  top: 50%;
  transform: translate(0, -10px);
  position: absolute;
}
.rtl .cta-input-arae i {
  left: 15px;
  top: 12px;
  right: auto;
}
.rtl.woocommerce.single-product .product .price, .rtl.woocommerce.archive .product .price, .rtl.woocommerce.single-product .product .woocommerce-loop-product__title, .rtl.woocommerce.archive .product .woocommerce-loop-product__title {
  text-align: right;
}
.rtl.woocommerce.single-product .product-type-variable .summary .cart .quantity, .rtl.woocommerce.single-product .product-type-external .summary .cart .quantity, .rtl.woocommerce.single-product .product-type-grouped .summary .cart .quantity, .rtl.woocommerce.single-product .product-type-simple .summary .cart .quantity {
  margin-right: 0;
  margin-left: 20px;
}
.rtl.woocommerce ul.products li.product .add_to_cart_button, .rtl.woocommerce ul.products li.product .product_type_grouped {
  transform: unset;
  left: auto;
  right: -37px;
  max-width: -moz-max-content;
  max-width: max-content;
  width: -moz-max-content;
  width: max-content;
}
.rtl.woocommerce ul.products li .button {
  margin-right: 0;
}
.rtl.woocommerce.single-product .product-type-simple .summary .cart .single_add_to_cart_button:before {
  margin-right: 0;
  padding-right: 0;
  padding-left: 10px;
  margin-left: 10px;
}
.rtl .rt-portfolio-style2 .portfolio-item .portfolio-content {
  left: auto;
  right: 50;
}
.rtl .rts-tab-style-one .button-area button.active:after {
  left: auto;
  right: -10px;
}
.rtl .team-grid-style7 .team-inner-wrap .image-wrap {
  margin-left: 30px;
  margin-right: 0;
}
.rtl .reactheme-blog-grid.blog--style6 .blog-item .blog-content .date i {
  margin-right: 0;
  margin-left: 7px;
}
.rtl .tab-custom-nav .nav,
.rtl .rt-portfolio-style1 .read-btn span.f-right {
  float: left;
}
.rtl .reactheme-blog-grid.blog--style3 .blog-content .blog-meta li {
  margin-right: 0;
  margin-left: 20px;
}
.rtl .reactheme-breadcrumbs .breadcrumbs-title {
  float: left;
}
.rtl .rs-skill-bar.style1 .skillbar .skill-bar-percent {
  left: 0;
  right: auto;
}
.rtl .react-video .popup-videos i:before {
  transform: rotate(180deg);
}
.rtl .reactheme-breadcrumbs .breadcrumbs-title {
  flex-direction: row-reverse;
}
.rtl .right_icon_yes ul li a:after {
  left: 0;
  right: auto;
  transform: rotate(180deg) !important;
}
.rtl .rts-accordion.style3 .accordion-item .accordion-header button span {
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .rts-accordion.style3 .accordion-item .accordion-header button[aria-expanded=true]:after {
  right: 10px;
}
.rtl .rt-portfolio-style5 .portfolio-item .portfolio-content {
  text-align: right;
}
.rtl .rt-arrow-right-long:before {
  transform: rotate(180deg);
}
.rtl .vertical-middle .vertical-middle-cell {
  text-align: right;
}
.rtl .rt-portfolio-style4 .portfolio-item .portfolio-content .p-title {
  max-width: 100%;
}
.rtl .rt-portfolio-style4 .portfolio-item .portfolio-content {
  padding-left: 10px;
}
.rtl .big-bg-porduct-details .project-info .info-body .single-info .info-details {
  margin-left: 0;
  margin-right: 20px;
}/*# sourceMappingURL=rtl.css.map */